extends base

block all_posts
    h1 Testing block!

    - for post in collections.post
    article.post
        h2.post_title= post.data.title
        p.post_date= post.date.toDateString()
        div.post_content!= post.templateContent
