<!DOCTYPE html>

<html lang="en">

<head>

    {% block head %}
        {% include "_head/head.njk" %}
    {% endblock %}
</head>

<body>

    {%include "_navs/base_nav.njk" %}
    {% block main_nav %} {% endblock %}

    <p> Loop without being inside .md </p>
    <ul>
        {%- for post in collections.post -%}
        <li>{{ post.data.title }}</li>
        {%- endfor -%}
    </ul>

    {{ content | safe }}


  

    {%include "_foot/footer.njk"%}
    {% block footer %} {% endblock %}

</body>