html
    head 
        title !{title}
    body         
        section 
            block the_content

    h1 Testing pagination 

    //include _navs/post_pagination

    //block posting_pag

    include _navs/post_pag_test.njk
    block post_pag_testing



    h1 Here are a few more block tests:

    block post_link 

    block page_link

    p ----

    block test_call 

