html
    head 
        title !{title}
    body         

        section 
            h1 Basically extend alone isn't working

            
            block test_call
                
            block post_link

            h1 Now let's link pages 

            block page_link

        footer.
            This is the footer

