---
pagination:
  data: collections.posts
  size: 1
  alias: list_posts
---
extends clean_base.pug

block the_content
  section
    !=content

block pagination 
  include ../_mixins/pagination_mixin
  nav
    +pag_previous('Previous')(class='this_class_is_optional')
    p ..........

    +pag_numbers
    
    p ..........
    
    +pag_next("Next")

block collection_content
  each post in pagination.items
      article
        h2= post.data.title
        p= post.date.toISOString().slice(0,10)
        != post.templateContent