---
#this was just a test, you're keeping temporarily
pagination:
  data: collections.posts
  size: 2
permalink: "page-{{ pagination.pageNumber }}.html"
---

block post_pag_testing
    <ul>
    {%- for item in pagination.items %}
    <li>{{item }} </li>
    {% endfor -%}
    </ul>