 {% block footer %}
 
    <h1> footer aqui </h1>

    <ul>
        <li>Creditos a LLC</li>
        <li>Creditos a Carol pelo site, link do linkdn</li>
        <li>Novamente um link da steam</li>
        <li>Novamente um link do twitter</li>
        <li>Novamente um link do instagram</li>
    </ul>
 {% endblock %}