html
    head 

    body 

        h1#id This is a header with an ID 
        h2.class This is a header with a class! 

        p.
            This is a paragraph! 
        p this is another paragraph!
