{% block facebook_bullshit %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://wizarducks.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wizarducks Puzzles">
    <meta property="og:description" content="A cute and funny Indie Game!  Demo for PC, Linux, Raspberry Pi.">
    <meta property="og:image" content="https://wizarducks.com/img/opengraph_PIC.webp">

{% endblock %}

