{% block bots %}
    <!-- Robots Stuff -->

    <meta name="robots" content="all">  <!-- Just sounds like the simplest thing to do if you are desperate to recover SEO points-->
    <meta name="revised" content="Monday, January 1st, 2023, 5:15 pm"> <!-- maybe this will indicate it isn't broken anymore-->

{% endblock %}